extends layout

block content
  link(rel='stylesheet', href='/stylesheets/float.css')
  link(rel='stylesheet', href='/stylesheets/profile.css')
  .container
   if(horses)
    .slideshow-container
    each horse in horses
       .mySlides.fade
        img(src="/uploads/#{horse.images[0]}", class="horse-pics", id="background")
        .text #{horse.horsename}
    div(style='text-align:center')
  each horse in horses
      span.dot

  .band
  
    each horse in horses
       li.my-horses.card
        .card-title
           #{horse.horsename}
        .card-image
          img(src="/uploads/#{horse.images[0]}")
          |               
          span.card-title #{horse.horsename}
          |             
        .card-content
          p
             | Born in: #{horse.age}
            | Breed: #{horse.breed}

        |          
        .card-action
           a(href="/horse/"+horse._id) #{horse.horsename}'s Profile
      if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
  if (user)
  .add
      h6 Add a Horse 
      form(role='form', action="/add-horse", method="post", style='max-width: 300px;' enctype="multipart/form-data")
       .form-group
           input.form-control(type='text', name="horsename", placeholder='Enter Horsename')
           //textarea(type='text', name="description", placeholder='Make an Description')
       .form-group
           input.form-control(type='year', name="age", placeholder='Year of Birth')
       .form-group
           input.form-control(type='text', name="breed", placeholder='Enter Breed')
       .form-group
           input.form-control(type='text', name="discipline", placeholder='Enter Discipline')
           input#inp(type='file' name='pic')
           p#b64
           img#img(height='150')
       
         button.btn.btn-default(type='submit') Submit
        
         a(href='/')
         button.btn.btn-primary(type="button") Cancel
